# In /etc/systemd/user/
# Start with "systemctl --user start dbus-bro.spot"
[Unit]
Description=Bro-Spot D-Bus Server

[Service]
#Type=simple
BusName=bro.spot
ExecStart=/home/asr/CLionProjects/bro-spotd2/bin/bro-spotd -c /home/asr/CLionProjects/bro-spotd2/bin/bro-spotd.ini
PIDFile=/var/run/bro-spotd.pid