Source: bro-spotd
Section: utils
Priority: optional
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Build-Depends: debhelper (>= 10), libbroccoli-dev, libdbus-1-dev, libiniparser-dev, libspot-dev, libspot
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>

Package: bro-spotd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: bro, bro-aux, bro-common, broctl
Description: A Bro IDS client to detect network anomalies
 bro-spotd combines the Bro IDS engine with the SPOT algorithm so as to monitor network
 features and detect abnormal behaviors in real-time.
