Source: bro-spotd
Section: utils
Priority: optional
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>

Package: bro-spotd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Bro IDS client to detect network feature abnormal values 
 <insert long description, indented with spaces>
