Package: bro-spotd-dbgsym
Package-Type: ddeb
Source: bro-spotd
Version: 1.0-1ubuntu1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alban Siffer <alban.siffer@irisa.fr>
Installed-Size: 350
Depends: bro-spotd (= 1.0-1ubuntu1)
Section: debug
Priority: optional
Description: debug symbols for bro-spotd
Build-Ids: 611dd09d409294e0e79249353d79785be52f5126
