# In /etc/systemd/user/
# Start with "systemctl --user start dbus-bro.spot"
[Unit]
Description=Bro-Spot D-Bus Server

[Service]
#Type=simple
BusName=bro.spot
ExecStart=/usr/bin/bro-spotd -c /etc/bro-spotd/bro-spotd.ini
PIDFile=/var/run/bro-spotd.pid